@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;900&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', 'poppins';
    
   
}

.root{
    --yellow: #EBD38A;
    --red:    #AF5C4F;
    --white:  #ffffff;
    --black:  #000000;
    --grey:   #d9d9d9;
}
html { font-size: 62.5%; /*  CONVERTE O REM 16PX PARA 10PX */}


body{

    background: linear-gradient(180deg, #EBD38A 0% ,#af5c4f 100%);
    background-repeat:no-repeat;
    
    min-height: 100vh;
    
}
/* header{
    flex-direction: column;
    background-color: #000000;
}
nav{
    flex-direction: column;
    background-color: red;
} */
.home_button{
    background-color: #af5c4f;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 3rem;
    color: #d9d9d9;
    cursor:pointer;
    width: 14rem;
    height: 14rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.fastrepair_button,.clients_button,.finance_button,.requests_button{
    background-color: #d9d9d9;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 14rem;
    height: 14rem;
    cursor:pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}


.home_button:active{
    background-color: rgb(175, 92, 79, 0.60);
    
    
}
.fastrepair_button:active{
    background-color: rgb(0, 0, 0,0.1);
    
    
}